body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: linear-gradient(to right, #2b1246, #eef1f5);
  }
  
   .home_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    color: white;
    gap: 40px;
      
  }
  .left {
    margin-right: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile_pic{
    animation: fadeInUp 1s ease forwards;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  .home_intro{
    font-weight: bold;
    font-family: 'tagesschrift', sans-serif;
    
  }
   
  
  .right p{
    color: white;
    line-height: 2.5;
    font-size: 26px;
    padding-left: 20px;
    animation: fadeInUp 1s ease forwards;
  }
  
    button {
    padding: 12px 20px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .home_button{
    animation: fadeInUp 1s ease forwards;

  }
  
  button:hover {
    background-color: #c4a7f3;
  }
  @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  @media (max-width: 768px) {
    .home_container{
      flex-direction: column;
    }
    .left{
      margin: 0px 0px 20px;
    }
    .left img {
      width: 100%;
      max-width: 300px; 
  
}
    .right p{
      font-size: 18px;
      padding: 0px;
      line-height: 2;
      text-align: center;

    }
    button{
      margin: 20px auto 0 auto;
      display: block;
      text-decoration: none !important;
    }
  }