/* src/components/Navbar/navbar.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
  background-color: white;
  width: 100%;
  font-weight: 800;
  font-family: 'Tagesschrift',sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
  border: 5px solid rgb(137, 54, 137);;
  }
  nav .left {
  display: flex;
  justify-content: flex-start;
}
  
  nav.right{
    display: flex;
    gap:12px
  }
  
  nav a {
    color:  rgb(137, 54, 137);
    text-decoration: none;  
    padding: 10px;     
    margin: 0 10px;  
    font-size: 16px;  
    border-radius: 4px;  
    transition: background-color 0.3s ease; 
  }
  
  nav a:hover {
    color: #480ad0;  
  }
  .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: rgb(137, 54, 137);
  margin: 4px 0;
}
@media (max-width: 768px) {
  .left {
    flex: 0;
  }

  nav .right {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 10px;
    border: 2px solid rgb(137, 54, 137);
    padding: 10px;
  }

  nav.right.active {
    display: flex;
  }

  .menu-toggle {
    display: flex ;
  }
}